/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}



/* ヘッダー */
.header {
  background-color: #f1edf6;
  margin-bottom: 48px;
  padding: 20px 0;
  width: 100%;
  top:0;
}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  color: #9d69e5;
  padding: 0.4em 1.6em;
  border: 1px #9d69e5 solid;
}

.logo:hover {
  color: #fff;
  background: #b99ede;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #9d69e5;
  text-decoration: none;
  user-select: none;
  border: 1px #9d69e5 solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #b99ede;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #9d69e5;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}

.nav__right a {
  text-decoration: none;
  color: #b99ede;
}

/*新規登録、ログイン画面*/
.account-page .account-page__inner {
  width: 980px;
  margin-top: 120px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  
}
.account-page .account-page__inner .account-page__inner--left, .account-page .account-page__inner .account-page__inner--right {
  float: left;
  width: 50%;
}
.account-page .account-page__inner:after {
  clear: both;
  content: "";
  display: block;
}
.account-page .account-page__header h2 {
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 200;
}
.account-page .account-page__header h2:after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  border-bottom: 1px solid #b99ede;
}
.account-page .account-page__header h5 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .account-page__header .btn {
  margin-top: 20px;
  color: #fff;
  background-color: #ccc;
  font-size: 14px;
}
.account-page .field {
  margin-bottom: 10px;
}
.account-page .field .field-label {
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 200;
}
.account-page .field .field-label i {
  font-size: 11px;
}
.account-page .field .field-input input {
  width: 100%;
  padding: 10px;
  letter-spacing: 1px;
}
.account-page .btn {
  display: inline-block;
  height: 50px;
  padding: 0 30px;
  line-height: 50px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
}
.account-page input[type=submit] {
  float: left;
  margin-top: 20px;
  color: #fff;
  background-color: #b99ede;
}
.account-page .field-label .field_with_errors {
  display: inline-block;
  color: #d65f4c;
  font-weight: 400;
}
.account-page .field-input .field_with_errors {
  position: relative;
}
.account-page .field-input .field_with_errors:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  background-color: #d65f4c;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
#error_explanation h2 {
  margin-bottom: 10px;
  color: #d65f4c;
  font-size: 14px;
}
#error_explanation ul {
  margin: 0;
  padding-left: 17px;
  list-style: square;
}
#error_explanation li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

.new_passwords {
  margin-top: 120px;
}

h2 {
  color:#9d69e5;
}

/* トップページ */
.search {
  position: relative;
  display: flex;
  justify-content: flex-end;margin-right: 20px;
}

.search_area {
  
}

.search_box {
  border: 1px solid #b99ede;
  color:#9d69e5;
}

.search a {
  text-decoration: none;
}


.twitter__block {
  position: relative;
  
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: #ffffff;
  overflow: hidden;
  max-width: 700px; 
  font-size: 80%;
  border: solid 1px #eeeeee;
}

.user_image {
  width: 60px;
  height: 60px;
}

.twitter__block-text {
  width: 400px;
}

.twitter__block-text a {
  text-decoration: none;
  color: #3b4043;
}

.twitter__block-text a :hover {
  color: #3b4043;
  text-decoration: none;
}

.twitter__block-text a :active {
  color: #3b4043;
}

/* 投稿画面 */
.container {
  position: relative;
  top: 10px;
}

/* 詳細ページ */
.form__text {
  width: 50%;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #b99ede;
  border: 1px #b99ede solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.prototype__wrapper{
  min-height: calc(100vh - 161px);
  position: relative;
  top: 10px;
}

.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.image_nickname{
  display: block;
  font-size: 16px;
  
  text-align: center;
  text-decoration: none;
}

.image_nickname a {
  text-decoration: none;
  color: #b99ede;
}

.prototype__user a {
  text-decoration: none;

}

.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}

.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

/* 編集画面 */
.form__wrapper{
  position: relative;
  top: 10px;
  min-height: calc(100vh - 161px);
}

/* コメント部分 */
.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

.comments {
  padding: 5px;
  margin-top: 15px;
}

.comments a {
  color: #b99ede;
}

.comments a:hover {
  text-decoration: underline;
}

.contents {
  position: relative;
  top: 10px;
}

/* マイページ部分 */
.my_page {
  position: relative;
  top: 10px;
}